// Fonts
$font-stack: 'Inter', sans-serif;

// Foont weights
$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Font sizes
$font-sizes: (
  h1: 3rem,
  // 48px
  h2: 2.375rem,
  // 38px
  h3: 2rem,
  // 32px
  h4: 1.75rem,
  // 28px
  h5: 1.5rem,
  // 24px
  h6: 1.125rem, // 18px
);

// Colors
$primary: #13304a;
$secondary: #076d59;
$tertiary: #37b971;
$quaternary: #e9ece7;
$black: #000000;
$white: #ffffff;
$content: #222222;
$danger: #9f0000;
